.main-page{
  height: 100%;
  padding: 3rem 10rem;
  background-image: url(../../assets/homepagebg.jpg);
  background-size: 90% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  display: grid;
  grid-template-areas: 
    '. study .'
    'hira . kata'
  ;
  width: 100%;
}

.main-page.mobile > div{
  scroll-snap-align: center;
}

.main-page.mobile{
  overflow: scroll;
  display: flex !important;
  flex-direction: column !important;
  padding: 0 !important;
  scroll-snap-type: y mandatory; 
}
.main-page.mobile::-webkit-scrollbar{
  display: none;
}

.main-page.mobileLandscape{
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 2rem;
}


.hiragana, .katakana, .study-room{
  display: flex;
  justify-content: center;
  align-items: center;
}
.hiragana{
  grid-area: hira;
}
.katakana{
  grid-area: kata;
}
.study-room{
  grid-area: study;
}

.hiragana.mobile, .katakana.mobile, .study-room.mobile{
  height: 100dvh;
}


:host{
  display: flex;
  width: 100% !important;
}