<div class="main-page" [ngClass]="{'mobile': isMobile}">
  <div class="w-100 hiragana">
    <app-content-card rTitle="Hiragana" kTitle="ひらがな" buttText="Start Quiz" cPath="/hiragana-page"></app-content-card>
  </div>
  <div class="w-100 study-room">
    <app-content-card rTitle="Study Room" kTitle="ベんきょう へや" buttText="Enter" cPath="/study-room"></app-content-card>
  </div>
  <div class="w-100 katakana">
    <app-content-card rTitle="Katakana" kTitle="カタカナ" buttText="Start Quiz" cPath="/katakana-page"></app-content-card>
  </div>
</div>