<div class="main-page" [ngClass]="{'mobile': isMobile, 'mobileLandscape': isMobileLandscape, 'tablet': isTablet, 'tabletLandscape': isTabletLandscape}">
  <div class="w-100 option-card study-room">
    <app-content-card rTitle="Study Room" kTitle="ベんきょう へや" buttText="Enter" cPath="/study-room"></app-content-card>
  </div>
  <div class="w-100 option-card hiragana">
    <app-content-card rTitle="Hiragana" kTitle="ひらがな" buttText="Start Quiz" cPath="/hiragana-page"></app-content-card>
  </div>
  <div class="w-100 option-card katakana">
    <app-content-card rTitle="Katakana" kTitle="カタカナ" buttText="Start Quiz" cPath="/katakana-page"></app-content-card>
  </div>
</div>