.main-page{
  height: 100%;
  padding: 3rem 10rem;
  background-image: url(../../assets/homepagebg.jpg);
  background-size: 90% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  display: grid;
  grid-template-areas: 
    '. study .'
    'hira . kata'
  ;
  width: 100%;
}

.main-page.mobile > div{
  scroll-snap-align: center;
}

.main-page.mobile{
  overflow: scroll;
  display: flex !important;
  flex-direction: column !important;
  padding: 0 !important;
  scroll-snap-type: y mandatory; 
}
.main-page.mobile::-webkit-scrollbar{
  display: none;
}

.main-page.mobileLandscape{
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding-top: 2rem;
  max-width: 100dvw;
  max-height: 100dvh;
  overflow-y: scroll;
  scroll-snap-type: x mandatory;
}

.main-page.tablet{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.option-card{
  display: flex;
  justify-content: center;
  align-items: center;
}
.hiragana{
  grid-area: hira;
}
.katakana{
  grid-area: kata;
}
.study-room{
  grid-area: study;
}

/**
* mobile
*/
.option-card.mobile{
  height: 100dvh;
}


/**
* tablet
*/

.option-card.mobileLandscape{
  width: 100dvw;
}


:host{
  display: flex;
  width: 100% !important;
}