.socials-container{
    position: fixed;
    left: 0;
    top: 20%;
    padding: 1rem;
    background-color: #292929;
    min-height: 150px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.socials-container.mobile{
    top: 0 !important;
    background-color: transparent !important;
    width: 100dvw;
    flex-direction: row !important;
    min-height: fit-content;
    padding: 0 !important;
    border: none !important;
    z-index: 10;
}
.ghBackg, .liBackg{
    position: fixed;
    top: -75px;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    z-index: 0;
}
.ghBackg{
    left: -75px;
    background-color: #fff;
}
.liBackg{
    right: -75px;
    background-color: #0076B2;
}
.homeBtn{
    position: fixed;
    top: 0;
    left: calc(50% - 40px);
    height: 50px;
    width: 80px;
    background-color: #292929;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: grid;
    place-items: center;
}

.socials.mobile{
    border: none !important;
}

.socials{
    border-radius: 50%;
    border: 3px solid #000;
}
.socials * {
    border-radius: 50%;
    max-height: 50px;
}