<div class="socials-container d-flex flex-column justify-content-between" [ngClass]="{'mobile': mobile}">
    <div class="socials" [ngClass]="{'mobile': mobile}">
        <a href="https://github.com/Deadfaced">
            <img src="../../assets/github.png" alt="">
        </a>
    </div>
    <div class="socials" [ngClass]="{'mobile': mobile}">
        <a href="https://www.linkedin.com/in/bernardo-teixeira-428220182/">
            <img src="../../assets/linkedin.png" alt="">
        </a>
    </div>
</div>
<div class="homeBtn" *ngIf="mobile === true" style="z-index: 100;">
    <a routerLink="main-page">
        <img src="../../assets/homeIconWhite.jpg" height="40px" width="40px" alt="" style="border-radius: 50%;">
    </a>
</div>
<div class="ghBackg" *ngIf="mobile === true"></div>
<div class="liBackg" *ngIf="mobile === true"></div>