:host{
  width: 100%;
}

.hiragana{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.hiragana.mobile > div{
  scroll-snap-align: center;
}

.hiragana.mobile{
  overflow: scroll;
  display: flex !important;
  flex-direction: column !important;
  padding: 0 !important;
  scroll-snap-type: y mandatory; 
}
.hiragana.mobile::-webkit-scrollbar{
  display: none;
}

.hiragana.mobileLandscape{
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding-top: 2rem;
  max-width: 100dvw;
  max-height: 100dvh;
  overflow-y: scroll;
  scroll-snap-type: x mandatory;
}

.hiragana.tablet{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}