#flashcard-container{
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 3rem;
  text-align: center;
  margin: 3rem 10rem;
  max-height: 43rem;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}
#flashcard-container::-webkit-scrollbar{
  display: none;
}