#flashcard-container{
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 3rem;
  text-align: center;
  margin: 3rem 10rem 2rem 10rem;
  max-height: 44rem;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}
#flashcard-container::-webkit-scrollbar{
  display: none;
}

#flashcard-container.mobile{
  grid-template-columns: repeat(1, 1fr);
  margin: 3rem 0 2rem 0;
}