html{
    scroll-behavior: smooth;
}

.study-room{
    height: fit-content;
    justify-content: space-around;
    overflow: scroll;
    scroll-behavior: smooth;
}
.study-room.mobile,
.study-room.mobileLandscape,
.study-room.tablet{
    flex-direction: column;
    align-items: center;
}
.study-room.mobile > div{
    width: 100% !important;
}
.study-room.mobileLandscape > div,
.study-room.tablet > div{
    width: 90% !important;
}
.study-room.mobile td, 
.study-room.mobile th,
.study-room.mobileLandscape td,
.study-room.mobileLandscape th{
    height: fit-content;
    padding: 0.5rem;
}
:host{
    width: 100%;
}
table{
    background-color: #292929 !important;
}
th, td{
    width: 33%;
    text-align: center;
    vertical-align: middle;
    padding: 1.5rem 0;
}

.scrollBtns{
    position: fixed;
    bottom: 5%;
    width: 100dvw;
    display: flex;
    justify-content: space-evenly;
}
.scrollBtns > button{
    width: 40%;
}
.scrollBtns.tablet > button{
    width: 30%;
}