.main-page{
  height: 100%;
  padding: 3rem 10rem;
  background-image: url(../../assets/homepagebg.jpg);
  background-size: 90% auto;
  background-repeat: no-repeat;
  background-position: bottom;
}
:host{
  display: flex;
  width: 100% !important;
}