.navbar{
    padding: 1rem;
    background-color: #292929 !important;
    width: 100dvw;
    max-width: 100% !important;
    max-height: fit-content;
}
.navbar a{
    color: white;
    text-decoration: none;
}
.links{
    width: 15%;
}

.navbar.hidden{
    display: none !important;
    height: 0 !important;
    width: 0 !important;
}