<div id="flashcard-container" class="pb-5" [ngClass]="{'mobile': mobile}">
    <app-card
    *ngFor="let card of shuffledChars; let i = index"
    inputIndex="{{ i }}"
    char="{{ card.char }}"
    romaji="{{ card.romaji }}"
    alt="{{ card.alt }}"
    (sendAnswer)="countCorrectAnswers($event)"
    />
  
</div>
<div class="d-flex align-items-start" [ngStyle]="{'justify-content': submitted === true && mobile === true ? 'space-between' : 'center', 'width': submitted === true ? '90dvw' : '100%'}" style="gap: 2rem;">
  <button type="button" class="btn btn-primary" (click)="showScore()">
    Submit answers
  </button>
  <div *ngIf="submitted">
    <p>Correct answers: {{ totalCorrect }}/{{ totalAnswers }}</p>
    <p>Score: {{ score }}%</p>
  </div>
</div>