
.option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 250px;
    border: 1px solid gray;
    border-radius: 6px;
    height: 300px;
    transition: transform 0.5s ease;
}.option:hover{
    transform: scale(1.2);
    z-index: 1001;
}
.option.mobile-option{
    height: 80dvh;
    width: 80dvw;
    margin: 10dvh 10dvw;
}

p{
    color: #e1e0de;
    font-family: sans-serif;
    text-align: center;
    font-size: xx-large;
    user-select: none;
    margin-top: 1rem;
}
button{
    display: flex;
    background-color: #b63440;
    color: white;
    font-weight: bold;
    padding: 12px 35px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-family: sans-serif;
    border-radius: 8px;
    user-select: none;
}button:hover{
    color: #b63440;
    background-color: #e1e0de;
}