<div *ngIf="detailedRecipe === undefined; else showContent">
    <h1>Choose a recipe!</h1>
</div>
<ng-template #showContent>
    <div class="row">
        <div class="col-xs-12">
            <img [src]="detailedRecipe.imagePath" alt="">
        </div>
        <div class="col-xs-12">
            <h3>{{ detailedRecipe.name }}</h3>
        </div>
        <div class="col-xs-12">
            <div
            class="btn-group" appDropdownDirective
            appDropdown>
            <button
                type="button"
                class="btn btn-primary dropdown-toggle">
                Manage Recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" (click)="sendToSL()">To Shopping List</a></li>
                <li><a href="#">Edit Recipe</a></li>
                <li><a href="#">Delete Recipe</a></li>
            </ul>
            </div>
        </div>
        <div class="col-xs-12">
            <h5>{{ detailedRecipe.description }}</h5>
        </div>
        <div class="col-xs-12">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let ingredient of detailedRecipe.ingredients">
                    {{ ingredient.name }} - {{ ingredient.amount }}
                </li>
            </ul>
        </div>
    </div>
</ng-template>